
@{
    ViewBag.Title = "About";
}

<h2>Something About Oyama</h2>
<p>Get to know Oyama Ngantweni better</p>
<div class="row jumbotron">

  <div class="col-md-8">
   <h2>Bio</h2>
       <p>My name is Oyama Ngantweni. A 20 year old second year BCom Informatics student, at the University of Pretoria. 
        I was born and raised in the Eastern Cape at a village called Mqanduli.I later moved to stay in KZN where i attended 
        high school and matriculated in 2019 at Port Shepstone High School.I am the 5th child of the 6 Children. My hobbies include playing 
        and watching sports, reading, singing and sleeping. And I believe that i am a very fun person to be around.
       </p>
    </div>

    <div class="col-md-4">
        <h2>Oyama</h2>
        <img src="~/Media/Images/Image0.jpg" alt=" OYAMA" width="310" height="310"/>
    </div>  

</div>
